[submodule "userprog/lsh"]
	path = userprog/lsh
	url = git@github.com:Lebirun/lsh.git
[submodule "userprog/coreutils"]
	path = userprog/coreutils
	url = git@github.com:Lebirun/leb-coreutils.git
[submodule "libc/leblibc"]
	path = libc/leblibc
	url = git@github.com:Lebirun/leblibc.git
