[submodule "userprog/lsh"]
	path = userprog/lsh
	url = git@github.com:Lebirun/lsh.git
[submodule "userprog/lebutils"]
	path = userprog/lebutils
	url = git@github.com:Lebirun/lebutils.git
[submodule "libc/leblibc"]
	path = libc/leblibc
	url = git@github.com:Lebirun/leblibc.git
[submodule "lebconfig"]
	path = lebconfig
	url = git@github.com:Lebirun/lebconfig.git
[submodule "userprog/LebInit"]
	path = userprog/LebInit
	url = git@github.com:Lebirun/LebInit.git
