KERNEL_ARCH_CFLAGS   = -fno-stack-protector -fno-pic
KERNEL_ARCH_CPPFLAGS = 
KERNEL_ARCH_LDFLAGS  =
KERNEL_ARCH_LIBS     = 

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/mutex.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/mem_map.o \
$(ARCHDIR)/task.o \
$(ARCHDIR)/switch.o \
$(ARCHDIR)/syscall.o \
$(ARCHDIR)/elf.o \
$(ARCHDIR)/initrd.o