KERNEL_ARCH_CFLAGS   = -fno-stack-protector -fno-pic -mcmodel=kernel -mno-red-zone -mno-mmx -mno-sse -mno-sse2
KERNEL_ARCH_CPPFLAGS =
KERNEL_ARCH_LDFLAGS  = -z max-page-size=0x1000 -Wl,--no-warn-rwx-segments
KERNEL_ARCH_LIBS     =

WOLFSSL_DIR = wolfssl
WOLFSSL_CPPFLAGS = -DWOLFSSL_USER_SETTINGS \
    -I$(CURDIR)/$(WOLFSSL_DIR) \
    -Wno-unused-variable -Wno-unused-parameter -Wno-sign-compare \
    -Wno-implicit-fallthrough -Wno-missing-field-initializers

WOLFSSL_OBJS = \
    $(WOLFSSL_DIR)/wolfcrypt/src/aes.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/asn.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/coding.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/ecc.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/error.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/hash.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/hmac.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/kdf.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/logging.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/md5.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/memory.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/poly1305.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/chacha.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/chacha20_poly1305.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/random.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/rsa.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/sha.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/sha256.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/sha512.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/sp_int.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/sp_c32.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/tfm.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/wc_encrypt.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/wc_port.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/wolfmath.o \
    $(WOLFSSL_DIR)/wolfcrypt/src/dh.o \
    $(WOLFSSL_DIR)/src/internal.o \
    $(WOLFSSL_DIR)/src/keys.o \
    $(WOLFSSL_DIR)/src/ssl.o \
    $(WOLFSSL_DIR)/src/tls.o \
    $(WOLFSSL_DIR)/src/tls13.o \
    $(WOLFSSL_DIR)/src/wolfio.o

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/rtc.o \
$(ARCHDIR)/mutex.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/mouse.o \
$(ARCHDIR)/evdev.o \
$(ARCHDIR)/mem/globals.o \
$(ARCHDIR)/mem/init.o \
$(ARCHDIR)/mem/pmm.o \
$(ARCHDIR)/mem/vmm.o \
$(ARCHDIR)/mem/pt.o \
$(ARCHDIR)/mem/vmm_map.o \
$(ARCHDIR)/mem/vmm_pd.o \
$(ARCHDIR)/mem/heap.o \
$(ARCHDIR)/mem/slab.o \
$(ARCHDIR)/mem/demand.o \
$(ARCHDIR)/mem/kstack.o \
$(ARCHDIR)/mem/temp_map.o \
$(ARCHDIR)/mem/debug.o \
$(ARCHDIR)/task.o \
$(ARCHDIR)/switch.o \
$(ARCHDIR)/smp.o \
$(ARCHDIR)/ap_trampoline.o \
$(ARCHDIR)/multithread.o \
$(ARCHDIR)/syscalls/syscall_main.o \
$(ARCHDIR)/syscalls/syscall_core.o \
$(ARCHDIR)/syscalls/syscall_process.o \
$(ARCHDIR)/syscalls/syscall_mem.o \
$(ARCHDIR)/syscalls/syscall_time.o \
$(ARCHDIR)/syscalls/syscall_initrd.o \
$(ARCHDIR)/syscalls/syscall_fb.o \
$(ARCHDIR)/syscalls/syscall_console.o \
$(ARCHDIR)/syscalls/syscall_vfs.o \
$(ARCHDIR)/syscalls/syscall_sata.o \
$(ARCHDIR)/syscalls/syscall_net.o \
$(ARCHDIR)/syscalls/syscall_termios.o \
$(ARCHDIR)/syscalls/syscall_posix.o \
$(ARCHDIR)/syscalls/syscall_select.o \
$(ARCHDIR)/syscalls/syscall_socket.o \
$(ARCHDIR)/syscalls/syscall_at.o \
$(ARCHDIR)/syscalls/syscall_signal.o \
$(ARCHDIR)/syscalls/syscall_ids.o \
$(ARCHDIR)/syscalls/syscall_misc.o \
$(ARCHDIR)/syscalls/syscall_epoll.o \
$(ARCHDIR)/syscalls/syscall_pthread.o \
$(ARCHDIR)/syscalls/syscall_shm.o \
$(ARCHDIR)/syscalls/syscall_dl.o \
$(ARCHDIR)/syscalls/syscall_regex.o \
$(ARCHDIR)/syscalls/syscall_power.o \
$(ARCHDIR)/syscalls/syscall_crypto.o \
$(if $(filter 1,$(CONFIG_DRIVER_NET_IPV67)),$(ARCHDIR)/syscalls/syscall_ipv67.o) \
$(ARCHDIR)/pty.o \
$(ARCHDIR)/elf.o \
$(ARCHDIR)/initrd.o \
$(ARCHDIR)/ramfs.o \
$(ARCHDIR)/framebuffer.o \
$(ARCHDIR)/panic.o \
$(ARCHDIR)/psf.o \
$(ARCHDIR)/console.o \
$(ARCHDIR)/power.o \
$(ARCHDIR)/vfs.o \
$(ARCHDIR)/vring.o \
$(ARCHDIR)/fs/misc/procfs.o \
$(ARCHDIR)/fs/misc/devfs.o \
$(ARCHDIR)/fs/squashfs.o \
$(ARCHDIR)/fs/iso9660.o \
$(ARCHDIR)/xz/xz.o \
$(ARCHDIR)/xz/xz_crc32.o \
$(ARCHDIR)/xz/xz_dec_lzma2.o \
$(ARCHDIR)/xz/xz_dec_stream.o \
$(ARCHDIR)/fs/misc/overlayfs.o \
$(ARCHDIR)/fs/partition.o \
$(ARCHDIR)/drivers/sata/ahci.o \
$(ARCHDIR)/drivers/fb/bga.o \
$(ARCHDIR)/drivers/fb/vga_modes.o \
$(ARCHDIR)/drivers/net/net.o \
$(ARCHDIR)/drivers/net/netif.o \
$(ARCHDIR)/drivers/net/ethernet.o \
$(ARCHDIR)/drivers/net/arp.o \
$(ARCHDIR)/drivers/net/ipv4.o \
$(ARCHDIR)/drivers/net/ipv6.o \
$(if $(filter 1,$(CONFIG_DRIVER_NET_IPV67)),$(ARCHDIR)/drivers/net/ipv67.o) \
$(ARCHDIR)/drivers/net/icmp.o \
$(ARCHDIR)/drivers/net/icmpv6.o \
$(ARCHDIR)/drivers/net/udp.o \
$(ARCHDIR)/drivers/net/tcp.o \
$(ARCHDIR)/drivers/net/dhcp.o \
$(ARCHDIR)/drivers/net/dns.o \
$(ARCHDIR)/drivers/net/http.o \
$(ARCHDIR)/drivers/net/tls.o \
$(ARCHDIR)/wolfssl_glue.o \
$(WOLFSSL_OBJS) \
$(if $(filter 1,$(CONFIG_DRIVER_NET_E1000)),$(ARCHDIR)/drivers/net/e1000/e1000.o) \
$(ARCHDIR)/fs/ext4/ext4.o \
$(ARCHDIR)/fs/ext4/ext4_super.o \
$(ARCHDIR)/fs/ext4/ext4_block.o \
$(ARCHDIR)/fs/ext4/ext4_inode.o \
$(ARCHDIR)/fs/ext4/ext4_dir.o \
$(ARCHDIR)/fs/ext4/ext4_file.o \
$(ARCHDIR)/fs/misc/sysfs.o \
$(ARCHDIR)/lke.o \
$(if $(filter 1,$(CONFIG_VIRT_VFL)),$(ARCHDIR)/vfl.o) \
$(ARCHDIR)/cmdline.o \
$(ARCHDIR)/watchdog.o
